* {
  border: blue solid 1px
  /* font-family: 'Open Sans', sans-serif; */
}

/* Colors */
/* #DDAF94
#E8CEBF
#266150
#4F4846
#FDF8F5 */


html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Newsreader', serif;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: black; */
}

h1 {
  margin-left: 5%
}

form {
  margin-left: 5%;
  margin-right: 10%;
  width: 30%;
  height: 30%;
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  height: 30%;
  justify-content: space-between;
}

/* Main View */
.main-view {
  display: flex;
  flex-direction: column;
}

/* Filter View */
/* .filter {
  display: flex;
  justify-content: center;
} */

.tag-selection {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit {
  /* margin: 0; */
  width: 5%;
}

/*  Multiple Recipe Display */
.recipe-display {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.recipe-card {
  height: 50px;
  width: 10%;
}

.recipe-image {
  height: 100%;
  width: 100%;
}

/* Current Recipe View */

.current-recipe-view {
  display: flex;
  justify-content: center;
}

.current-recipe-card {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.current-recipe-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-recipe-add-to-fav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  /* margin-right: 5%; */
}

.current-recipe-img {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.food-image {
  height: 25vw;
  width: 25vw;
}

.current-recipe-ing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.current-recipe-inst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-recipe-tags {
  display: flex;
    justify-content: space-around;
}

.current-recipe-add-to-cook {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Favorite Recipes */
/* .saved-view {
  padding: 30px;
}

.saved-recipes-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mini-recipes {
  height: 40vh;
  margin: 1.3vh auto;
  position: relative;
  width: 14vw;
}

.mini-recipe > .cover-title {
  bottom: 45px;
  font-size: 40px;
}

.mini-recipe > .cover-title::first-letter {
  font-size: 60px;
}

.mini-cover > .tagline {
  background: RGBA(126, 84, 150, .5);
  bottom: 5px;
  color: #fcf4dc;
  font-size: 10px;
  padding: 5px;
} */

.hidden {
  display: none;
}
